<!-- include header -->
<%- include('partials/_header') %> 
<!-- /include header -->

<!-- Main Content -->
<main class="c-main">
    <div class="o-wrap">
        <div class="c-main__user">
            <a href="/user/create" class="c-main__user__link">
                <span>New User <i class="fa-solid fa-user"></i></span>
            </a>
        </div>

        <!-- Form handling -->
        <form action="/" method="POST" class="c-form">
            <table class="c-form__table">
                <thead>
                    <tr class="c-form__table__props">
                        <th>ID</th>
                        <th>Name</th>
                        <th>@Email</th>
                        <th>Gender</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <%- include('partials/_user_list', { user_list }) %>
                </tbody>
            </table>
        </form>
    </div>
</main>
<!-- /Main Content -->

<!-- include footer -->
<%- include('partials/_footer') %> 
<!-- /include footer -->