<!-- include header -->
<%- include('partials/_header') %> 
<!-- /include header -->

<!-- Main Content -->
<main class="c-main">
    <div class="o-wrap">
        <div class="c-main__user">
            <div class="c-main__user__filter">
                <a href="/users"><i class="fa-sharp fa-solid fa-angles-left"></i> All Users</a>
            </div>
            <div class="c-main__user__new">
                <h2>New User</h2>
                <p>Use the below form to create a new account</p>
            </div>
        </div>

        <!-- Form handling -->
        <%- include('partials/_form', { form_id: 'user_create'}) %>
        <!-- /Form handling -->

    </div>
</main>
<!-- /Main Content -->

<!-- include footer -->
<%- include('partials/_footer') %> 
<!-- /include footer -->