$color-dark: #2b2d42;
$color-light: #adb5bd;
$color-border: #dee2e6;
$color-border-btn: #edf2f4;
$color-primary: #24f4b9;
$color-danger: #ff1e22;

$hspace: 20px;
$vspace: 20px;

$font-size: 16px;
$font-size-small: 12px;
$font-size-medium: 24px;
$font-size-large: 36px;
$font-size-xlarge: 50px;