/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.o-wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.c-btn {
  padding: 10px 20px;
  border: 1px solid #adb5bd;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.c-btn--submit {
  width: 100%;
  background-color: #24f4b9;
}

.c-btn--submit:hover {
  background-color: #2b2d42;
  color: #ffffff;
}

.c-btn--edit, .c-btn--delete {
  border: none;
}

.c-btn--edit:hover, .c-btn--delete:hover {
  background-color: #2b2d42;
  color: #ffffff;
}

.c-btn--edit {
  color: #2b2d42;
}

.c-btn--delete {
  color: #ff1e22;
}

.c-header {
  width: 100%;
  margin-bottom: 80px;
  padding: 20px 0;
  background-color: #24f4b9;
}

.c-header a {
  color: #2b2d42;
}

.c-header__nav {
  margin: 0 auto;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.c-main {
  max-width: 100%;
}

.c-main__user {
  margin-bottom: 40px;
}

.c-main__user__filter {
  margin-bottom: 20px;
}

.c-main__user__new {
  text-align: center;
}

.c-main__user__new h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}

.c-main__user__new p {
  color: #adb5bd;
}

.c-form {
  width: 100%;
  margin-bottom: 80px;
}

.c-form__table {
  width: 100%;
  text-align: center;
}

.c-form__table thead tr, .c-form__table tbody tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border-top: 1px solid #adb5bd;
}

.c-form__table th, .c-form__table td {
  width: 16.67%;
}

.c-form__table th {
  font-weight: 600;
}

.c-form__table__props {
  color: #ffffff;
  background-color: #2b2d42;
}

.c-form__table__values {
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

.c-form__table__values:hover {
  background-color: #24f4b9;
}

.c-form__table__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.c-form__user {
  max-width: 786px;
  margin: 0 auto;
}

.c-form__user__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.c-form__user__group input[type='text'], .c-form__user__group input[type='email'] {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-form__user__group__option {
  margin-right: 40px;
}

.c-form__user__group__label {
  width: 100px;
}

@media only screen and (max-width: 1024px) {
  .c-main {
    padding: 0 40px;
  }
  .c-form__table thead {
    display: none;
  }
  .c-form__table__values {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 1px solid #adb5bd;
  }
  .c-form__table__values td {
    width: 100%;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */