@import 'variables';
@import 'reset';

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

body {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.o-wrap {
    max-width: 1024px;
    margin: 0 auto;
}

.c-btn {
    padding: $vspace/2 $hspace;
    border: 1px solid $color-light;
    border-radius: 3px;
    font-size: $font-size;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.c-btn--submit {
    width: 100%;
    background-color: $color-primary;

    &:hover {
        background-color: $color-dark;
        color: #ffffff;
    }
}
.c-btn--edit, .c-btn--delete {
    border: none;
    
    &:hover {
        background-color: $color-dark;
        color: #ffffff;
    }
}
.c-btn--edit {
    color: $color-dark;
}
.c-btn--delete {
    color: $color-danger;
    background-color: transparent;
}

.c-header {
    width: 100%;
    margin-bottom: $vspace*4;
    padding: $vspace 0;
    background-color: $color-primary;
    a {
        color: $color-dark;
    }
}
.c-header__nav {
    margin: 0 auto;
    font-size: $font-size-medium;
    font-weight: 600;
    text-align: center;
}

.c-main {
    max-width: 100%;
}
.c-main__user {
    margin-bottom: $vspace*2;
}
.c-main__user__filter {
    margin-bottom: $vspace;
}
.c-main__user__new {
    text-align: center;
    h2 {
        margin-bottom: $vspace/2;
        font-size: $font-size-medium;
        font-weight: 600;
    }
    p {
    color: $color-light;
    }
}

.c-form {
    width: 100%;
    margin-bottom: $vspace*4;
}
.c-form__table {
    width: 100%;
    text-align: center;

    thead tr, tbody tr {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: $vspace 0;
        border-top: 1px solid $color-light;
    }

    th, td {
        width: 16.67%;
    }

    th {
        font-weight: 600;
    }
}
.c-form__table__props {
    color: #ffffff;
    background-color: $color-dark;
}
.c-form__table__values {
    transition: background-color .3s ease-in-out;
    &:hover {
        background-color: #24f4b9;
    }
}
.c-form__table__btns {
    display: flex;
    justify-content: space-evenly;
}

// ------------------------ form ------------------------
.c-form__user {
    max-width: 786px;
    margin: 0 auto;
}
.c-form__user__group {
    display: flex;
    margin-bottom: $vspace*1.5;

    input[type='text'], input[type='email'] {
        flex: 1;
    }
}
.c-form__user__group__option {
    margin-right: $hspace*2;
    
}
.c-form__user__group__label {
    width: 100px;
}

// ------------------------ media queries ------------------------
@media only screen and (max-width: 1024px) {
    .c-main {
        padding: 0 $hspace*2;
    }
    .c-form__table {
        thead {
            display: none;
        }
    }
    .c-form__table__values {
        flex-direction: column;
        justify-content: center;
        border: 1px solid $color-light;

        td {
            width: 100%;
            margin-bottom: $vspace;
        }
    }
}
